@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to EventSphere</h1>
    <a href="Events/Explore" class="btn btn-primary">Explore Events</a>

    <!-- Add Event Button (Visible to all, but will require login) -->
    <a href="Events/Host" class="btn btn-success">Host an Event</a>
</div>
